.mainContainer {
    width: 100%;
    height: 100vh;

    flex-direction: column;
    justify-content: center;
    background-color: #21212c;
    background-image: url("/background.png");
    background-size: 50vh;

    overflow-x: hidden;
    overflow-y: auto;
}

.contentContainer {
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.navbarSpacer {
    min-height: 60px;
    margin-bottom: 5px;
}

.toastStyle[data-state="open"] {
    animation: toastSlideDown 180ms ease-out;
}

.toastStyle[data-state="closed"] {
    animation: toastFadeOut 180ms ease-in;
}

@keyframes toastSlideDown {
    from {
        opacity: 0;
        transform: translateX(-50%) translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateX(-50%) translateY(0);
    }
}

@keyframes toastFadeOut {
    from {
        opacity: 1;
        transform: translateX(-50%) translateY(0);
    }

    to {
        opacity: 0;
        transform: translateX(-50%) translateY(-10px);
    }
}