.gameAreaPanel
{
    min-height: 150px;
    background-size: cover;
    background-position: center;
    padding: 5px;

    filter: grayscale(1);
    transition: all 0.1s;

    scroll-snap-align: start;
}

.gameAreaPanel:hover {
    filter: grayscale(0);
    z-index: 1;
}

.gameAreaPanel.purchased {
    filter: grayscale(0);
}

.gameAreaPanelTitle, .gameAreaLock
{
    transition: all 0.1s;
}

.gameAreaPanel:hover.purchased .gameAreaPanelTitle
{
    padding-left: 15px;
}

.gameAreaPanel:hover .gameAreaLock
{
    transform: rotateZ(2deg) scale(1.1);
}

.itemSlot
{
    min-width: 64px;
    height: 64px;

    background-color: white;
    transition: all 0.1s;
}

.itemSlot:hover
{
    z-index: 1;
    scale: 1.05;
    box-shadow: 0px, 0px, 10px, 10px, black;
}

.itemIcon
{
    width: 48px;
    height: 48px;
    image-rendering: pixelated;
}

.itemTooltip
{
    background-color: white;
    font-family: "Fredoka", sans-serif;
    padding: 5px;

    max-width: 90vw;
    width: 300px;

    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}